<ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/method/pipes" routerLinkActive="active">Pipes</a>
    </li>
    <li class="nav-item">
        <a routerLink="/method/observables" routerLinkActive="active">Observables</a>
      </li>
      <li class="nav-item">
        <a routerLink="/method/tempDrivenForms" routerLinkActive="active">Template Driven Forms</a>
      </li>
      <li class="nav-item">
        <a routerLink="/method/reactiveForms" routerLinkActive="active">Reactive Forms</a>
      </li>
      <li class="nav-item">
        <a routerLink="/method/routeGuard" routerLinkActive="active">Router Guards</a>
      </li>

</ul>