
{% extends 'common.html' %}

{% block naveen %}
    {% load static %}
    <style>
        #head{
                font-family: "Agency FB";
                font-size: 20px;
                background-color: yellow;
                color: red;
            padding: 10px;
            border-style: solid;
            border-color: red;
            }
        .one
        {
            padding: 8px;
            font-size: 15px;
            font-family: Arial;
            background-color: navajowhite;
            color: maroon;
            border-style: solid;
            border-color: maroon;
        }
    </style>
    <table align="center" border="0">
        <tr>
            <th id="head" colspan="5">All Employees INFORMATION</th>
        </tr>
    <tr>
        <th class="one">IDNO</th>
        <th class="one">NAME</th>
        <th class="one">SALARY</th>
        <th class="one">UPDATE</th>
        <th class="one">DELETE</th>
    </tr>

    {% for x in data %}
         <tr>
        <th>{{ x.idno }}</th>
        <th>{{ x.name }}</th>
        <th>{{ x.salary }}</th>
        <th>

            {# In this example we are sending data in hidden fields #}
            <form action="{% url 'show_update' %}">
                <input type="hidden" name="t1" value="{{ x.idno }}">
                <button type="submit">Update</button>
            </form>

        </th>
        <th>

            {# In this example we are sending data in hyperlink #}

            <a href="{% url 'delete' %}?no={{ x.idno }}">
            <img src="{% static 'images/interface.png' %}">
            </a>


        </th>
    </tr>
    {% endfor %}


    </table>

{% endblock %}