<table align="center" border="0">
    <tr>
        <th style="color: blue;font-size: 20px;"><a routerLink="list" routerLinkActive="active">LIST</a></th>
    
        <th style="color: blue;font-size: 20px;padding-left: 100px;"><a routerLink="emp" routerLinkActive="active">EMPLOYEE</a></th>
        <th style="color: blue;font-size: 20px;padding-left: 100px;"><a routerLink="Book" routerLinkActive="active">bookticket</a></th>
    </tr>
    <tr>
        <th><a routerLink="dept" routerLinkActive="active">department</a></th>
        <th><a routerLink="details" routerLinkActive="active">dept_details</a>
           
    </tr>
</table>
<router-outlet></router-outlet>