
<html>
    <body>
        <table align="center" border="2">
            <tr><th>Add Student</th></tr>
            <tr><th><input type="text" placeholder="Student Name" required name="s1"> </th></tr>
            <tr><th><input type="number" placeholder="Student Contact No" required name="s2"> </th></tr>
            <tr><th> Courses
                <select name="s3" multiple>
                    {% for x in all_course %}
                        <option>{{ x.course_name }}</option>
                    {% endfor %}
                </select>
            </th></tr>
            <tr><th><button type="submit">Save</button> </th></tr>
        </table>
    </body>
</html>