{% extends 'Common.html' %}

{% block valli %}

<form method="post">
    {% csrf_token %}
    <div class="form-floating">
        <input type="text" class="form-control" placeholder="Username" name="uname">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="upass">
        <label for="floatingPassword">Password</label>
      </div>
      <button type="submit">Sign in</button>
      {% for msg in messages %}
      {% if msg %}
          <span style="color:blue">{{msg}}</span>
      {% endif %}
      {% endfor %}
</form>

{% endblock %}