
{% extends 'common.html' %}

{% block naveen %}
    {% load static %}

    <table align="center" border="0" width="500">
    <tr>
        <th colspan="2"> <div style="text-align: center;font-family: 'Agency FB';font-size: 25px;background-color: red;color: yellow">Student Login Page</div></th>
    </tr>
    <tr>
        <th rowspan="3"><img src="{% static 'images/student.jpg' %}"></th>
        <th>
            <input type="text"
                   placeholder="Username"
                   name="s1"
                   required
                   class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </th>
    </tr>
     <tr>
        <th>
            <input type="password"
                   placeholder="Password"
                   name="s2"
                   required
                   class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </th>
    </tr>
    <tr>
        <th style="text-align: center">
            <button type="submit" class="btn btn-primary">Login</button>
        </th>
    </tr>
    </table>

{% endblock %}