

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <h2 style="color: blue; font-size: 30px;font-style: italic;">AngularProject Demo</h2>
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li>
            <a routerLink="/" routerLinkActive="active">Home</a>
          </li>
        <li class="nav-item" style="padding-left: 20px;">
          <a routerLink="/method" routerLinkActive="active">AngularMethods</a>
        </li>
        <li class="nav-item" style="padding-left: 20px;">
          <a routerLink="/lazyload" routerLinkActive="active">LazyLoad</a>
        </li>

        <li class="nav-item" style="padding-left: 500px;">
          <a routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item" style="padding-left: 100px;">
          <a routerLink="/register" routerLinkActive="active">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
